.modal{
    color: black;
    background-color: var(--color-background-modal);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
}

.form-close{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.form-modal{
    background-color: white;
    width: 30vh;
    padding: 1em;
    position: relative;
}
.form-modal input{
    width: 80%;
    margin: .5em 0 .5em 0;
    outline: black 1px solid;
}
.title-modal{
    font-size: 1.5em;
    color: black;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}