.book{
        margin: 1em auto;
        background-color: rgba(163, 164, 165, 0.151);
    box-shadow: 3px 3px 10px #707070;
    padding: 1em;
    width: 95%;
}
.title-book{
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 0.3em;
    color: #000;
    text-transform: capitalize;
}

.body-book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book-data{
    text-transform: capitalize;
    width: 50%;
    color: rgba(10, 10, 10, .5);
    letter-spacing: 2px;
    font-weight: 400;
}
.book-data label{
    color:#000;
    font-weight: 400;
}
.book-data>span{
    display: block;
    line-height: 20px;
}
.book-opcions{
    width: 30%;
}
